/*/variables/*/
$color-sombreado: rgba(0, 0, 0, 0.5);
$fondo: rgba(134, 134, 134, 0.8);
$color-fuente-oscuro: rgb(216, 216, 216);
$color-fuente: white;
$color-fuente2: black;
$color-fuente-oscuro2: rgb(19, 19, 19);
$color-bordes: white;
$color-background-general: rgb(149, 41, 49);
$color-background-header-footer: black;
$sombra: 5px 5px 20px rgb(44, 44, 44);
$mode: night; /*/colocar night para modo nocturno o light para modo diurno/*/

/*/mixins/*/
@mixin imagen-fondo($heigth, $margin-top, $background-repeat, $ackground-size, $overflow) {
    height: $heigth;
    margin-top: $margin-top;
    background-repeat: $background-repeat;
    background-size: $ackground-size;
    overflow: $overflow;
    
}

*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    /*/operaciones/*/
    @if ($mode == night){
        color: white;
        background-color: rgb(149, 41, 49);
    } 
    @else if ($mode == light){
        color: black;
        background-color: rgb(41, 115, 149);
    }
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left; 
    text-transform: none;
    line-height: normal;
    text-decoration: none;
    letter-spacing: normal;
    word-spacing: normal;
}
/*/operacion bucle/*/
@for $i from 1 through 4 {
    h#{$i} {
        font-size: 60px - (8*$i)
    }
}

a{
    text-decoration: none;
}

/*/header/*/
header{
    position: fixed;
    top: 0;
    z-index: 10;

    /*/operacion/*/
    @if ($mode == night) {
        color: $color-fuente;
        background-color: $color-fuente2;
    } 
    @else if ($mode == light){
        color: $color-fuente2;
        background-color: $color-fuente;
    }
    .header--titulo{
        width: 100vw;
        text-align: center;


    }
    .nav{
        width: 100vw;
        border-bottom: solid 2px $color-bordes;
        a{
            @if ($mode == night) {
                color: $color-fuente;
            } 
            @else if ($mode == light){
                color: $color-fuente2;
            }
            text-decoration: none;
        }
        a:hover{
            @if ($mode == night) {
                color: $color-fuente-oscuro;
            } 
            @else if ($mode == light){
                color: $color-fuente-oscuro2;
            }
            text-decoration: underline;
            
        }
    }
}

/*/footer/*/
.caja-footer{
            /*/operacion/*/
            @if ($mode == night) {
                background-color: black;
            } 
            @else if ($mode == light){
                background-color: white;
            }

    .btn{
        background-color: white;
    }
}


/*/carrousel/*/
.inner--imagen{
    height: 40vw;
    border: solid 2px $color-bordes;
}


/*/portadas/*/
.portadas{
    .portadas__item{
        margin: 20px;
        text-decoration: none;
        color: $color-fuente;
        border-radius: 10%;
        overflow: hidden;
        box-shadow: $sombra;
        @include imagen-fondo(30vw, 30px, none, cover, hide);
        .portadas__item--texto{
            text-align: center;
            font-size: 4rem;
            background-color: $color-sombreado;
            color: $color-fuente-oscuro;
        }
        .portadas__item--texto:hover{
            color: $color-fuente;
        }
        .portadas__item--subtexto{
            text-align: center;
            font-size: 2rem;
            background-color: $color-sombreado;
            margin-left: auto;
            margin-right: auto;
            width: 10rem;
            position: relative;
            bottom: -70%;
            color: $color-fuente-oscuro;
        }
        .portadas__item--subtexto:hover{
            color: $color-fuente;
        }
    }
    .portadas__item--1{
        background-image: url(../multimedia/adornos/producto4.JPEG);
    }
    .portadas__item--2{
        background-image: url(../multimedia/funcionales/producto5.jpg);
    }
    .portadas__item--3{
        background-image: url(../multimedia/personajes/producto6.JPG);
        
    }
    
    @media only screen and (max-width: 991px){
        .portadas__item{
            height: 50vw;
        }
    }
    @media only screen and (max-width: 575px){
        .portadas__item{
            height: 120vw;
        }
    }
}

/*/novedades/*/
.novedades{
    margin-top: 20px;
    margin-bottom: 50px;
}
@each $portada in marshal1, marshal2, marshal3, marshal4, marshal5{
    .#{$portada} {
        height: 20.8vw;
        background-image: url("../multimedia/personajes/marshal/#{$portada}.JPEG");
        margin-top: 50px;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        filter: brightness(80%);
        transition: all 0.5s;
        border-radius: 10%;
        box-shadow: $sombra;
    }
    .#{$portada}:hover {
        filter: brightness(100%);
        transform: scale(1.05 , 1.05);
        box-shadow: none;
        }
    @media only screen and (max-width: 991px){
        .#{$portada} {
            height: 41.6vw;
        }
        .#{$portada}:hover {
            height: 43vw;
        }
    }
    @media only screen and (max-width: 575px){
        .#{$portada}{
            height: 125vw;
        }
        .#{$portada}:hover{
            height: 128vw;
        }
    }
}

/*/------------------------ productos-----------------------/*/
.costado{
    background-color: $fondo;
    height: 100vw;
    a{
        color: $color-fuente;
    }
    a:hover{
        color: $color-fuente-oscuro;
    }
}
/*/adornos/*/
.adornos__titulo{
    text-align: center;
}
.adornos{ 
    .adornos__item{
        background-color: $fondo;
        padding: 5px;
        margin: 20px;
        border: solid 2px black;
        transition: all 1s;
        box-shadow: $sombra;
        border-radius: 10px;
        .adornos__vinculo{
            color: black;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        img{
            width: 100%;
            border-radius: 10px;
        }
        .adornos__boton{ 
            box-shadow: 3px 3px 10px rgb(31, 31, 31);
        }
    }
    .adornos__item:hover{
        transform: scale(1.1,1.1);
    }
}
@media only screen and (max-width: 575px){
    .costado{
        display: none;
    }
}


/*/------------------------ contacto -----------------------/*/
.contacto{
    margin-top: 5vw;
}

/*/__------------------------ materiales -----------------------/*/
@media only screen and (max-width: 575px){
    .ABS__info--abajo{
        display: none;
    }
}

/*/------------------------ carrito -----------------------/*/

.lista__contenedor{
    font-size: 3rem;
    .contenedor__imagen{
        box-shadow: $sombra;
    }
    .contenedor__selector{
        color: $color-fuente2;
        height: 40px;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: $fondo;
        border-radius: 3px;
        box-shadow: $sombra;
        .contenedor__unidades{
            background-color: white;
            width: 40%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .contenedor__modificador{
            width: 30%;
        }
        .contenedor__modificador:hover{
            background-color: rgba(167, 167, 167, 0.8);
            transform: scale(1.05,1.05);
        }
    }

}
@media only screen and (max-width: 991px){
    .lista__contenedor{
        font-size: 2rem;
    
        .contenedor__nombre{
            display: none;
        }
    }
    
}

/*/------------------------ error 404 -----------------------/*/
.pagina-404{
    background: rgb(149, 41, 49);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-404{
    text-align: center;
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 20px;
    box-shadow: $sombra;
    border-radius: 5px;
    line-height: 1.7;
    color: #434343;
}
.boton-inicio{
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    background-color: rgb(149, 41, 49);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}
