/*/variables/*/
$color-sombreado: rgba(0, 0, 0, 0.5);
$fondo: rgba(134, 134, 134, 0.8);
$color-fuente-oscuro: rgb(216, 216, 216);
$color-fuente: white;
$color-fuente2: black;
$color-fuente-oscuro2: rgb(19, 19, 19);
$color-bordes: white;
$color-background-general: rgb(149, 41, 49);
$color-background-general2: rgb(187, 38, 48);
$color-background-header-footer: black;
$sombra: 5px 5px 20px rgb(44, 44, 44);
$medida-sm: 575px;
$medida-lg: 991px;
$mode: night; /*/colocar night para modo nocturno o light para modo diurno/*/

/*/mixins/*/
@mixin imagen-fondo($heigth, $margin-top, $background-repeat, $background-size, $overflow) {
    height: $heigth;
    margin-top: $margin-top;
    background-repeat: $background-repeat;
    background-size: $background-size;
    overflow: $overflow;
    
}

*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    /*/operaciones/*/
    @if ($mode == night){
        color: $color-fuente;
        background-color: $color-background-general;
    } 
    @else if ($mode == light){
        color: $color-fuente2;
        background-color: $color-background-general2;
    }
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left; 
    text-transform: none;
    line-height: normal;
    text-decoration: none;
    letter-spacing: normal;
    word-spacing: normal;
}
/*/operacion bucle/*/
@for $i from 1 through 4 {
    h#{$i} {
        font-size: 60px - (8*$i)
    }
}

/*/header/*/
header{
    position: fixed;
    top: 0;
    z-index: 10;

    /*/operacion/*/
    @if ($mode == night) {
        background-color: $color-fuente2;
    } 
    @else if ($mode == light){
        background-color: $color-fuente;
    }
    .header__enlace{
        @if ($mode == night) {
            color: $color-fuente;
        } 
        @else if ($mode == light){
            color: $color-fuente2;
        }
        text-decoration: none;
        padding: 10px;
    }
    
    .header--titulo{
        width: 100vw;
        text-align: center;


    }
    .nav{
        width: 100vw;
        border-bottom: solid 2px $color-bordes;
        a:hover{
            @if ($mode == night) {
                color: $color-fuente-oscuro;
            }
            @else if ($mode == light){
                color: $color-fuente-oscuro2;
            }
            text-decoration: underline;
        }
    }
}

/*/footer/*/
.caja-footer{
            /*/operacion/*/
            @if ($mode == night) {
                background-color: $color-fuente2;
            } 
            @else if ($mode == light){
                background-color: $color-fuente;
            }

    .btn{
        background-color: white;
    }
}


/*/carrousel/*/
.inner--imagen{
    height: 40vw;
    border: solid 2px $color-bordes;
}


/*/portadas/*/
.portadas{
    @each $portada in portada1, portada2, portada3{
        .#{$portada} {
            background-image: url("../multimedia/portadas/#{$portada}.JPEG");
            margin: 20px;
            text-decoration: none;
            color: $color-fuente-oscuro;
            border-radius: 10%;
            overflow: hidden;
            box-shadow: $sombra;
            text-align: center;
            @include imagen-fondo(30vw, 30px, no-repeat, cover, hidden);
            .portadas__texto{
                background-color: $color-sombreado;
            }
            .portadas__texto:hover{
                color: $color-fuente;
            }
            h3{
                font-size: 4rem;
            }
            h4{
                font-size: 2rem;
                margin-left: auto;
                margin-right: auto;
                width: 100px;
                position: relative;
                bottom: -70%;
            }
        }
        @media only screen and (max-width: $medida-lg){
            .#{$portada}{
                height: 50vw;
            }
        }
        @media only screen and (max-width: $medida-sm){
            .#{$portada}{
                height: 120vw;
            }
        }
    }
}

/*/novedades/*/
.novedades{
    margin-top: 20px;
    margin-bottom: 50px;
}
@each $novedad in marshal1, marshal2, marshal3, marshal4, marshal5{
    .#{$novedad} {
        @include imagen-fondo(20.8vw, 50px, no-repeat, cover, hidden);
        background-image: url("../multimedia/personajes/marshal/#{$novedad}.JPEG");
        filter: brightness(80%);
        transition: all 0.5s;
        border-radius: 10%;
        box-shadow: $sombra;
    }
    .#{$novedad}:hover {
        filter: brightness(100%);
        transform: scale(1.05 , 1.05);
        box-shadow: none;
        }
    @media only screen and (max-width: $medida-lg){
        .#{$novedad} {
            height: 41.6vw;
        }
        .#{$novedad}:hover {
            height: 43vw;
        }
        .marshal5{
            display: none;
        }
    }
    @media only screen and (max-width: $medida-sm){
        .#{$novedad} {
            display: none;
        }
        .marshal3{
            height: 125vw;
            display: block;
        }
        .marshal3:hover{
            height: 128vw;
        }
    }
}

/*/------------------------ productos-----------------------/*/
.costado{
    overflow: hidden;
    background-color: $fondo;
    height: 100vw;
    margin-top: 100px;
    font-size: 4rem;
    a{
        font-size: 3rem;
        color: $color-fuente;
    }
    a:hover{
        color: $color-fuente-oscuro;
    }
}
@media only screen and (max-width: $medida-lg){
    .costado{
        font-size: 3rem;
        a{
            font-size: 2rem;
        }
    }
}
@media only screen and (max-width: $medida-sm){
    .costado{
        display: none;
    }
}

/*/adornos/*/
.secciones{
    margin-top: 100px;
}
.adornos__titulo{
    text-align: center;
}
.adornos{ 
    .adornos__item{
        background-color: $fondo;
        padding: 5px;
        margin: 20px;
        border: solid 2px black;
        transition: all 1s;
        box-shadow: $sombra;
        border-radius: 10px;
        .adornos__vinculo{
            color: black;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        img{
            width: 100%;
            border-radius: 10px;
        }
        .adornos__boton{ 
            box-shadow: 3px 3px 10px rgb(31, 31, 31);
        }
    }
    .adornos__item:hover{
        transform: scale(1.05,1.05);
    }
}


/*/------------------------ views -----------------------/*/
.titulo{
    margin-top: 130px;
    margin-bottom: 30px;
}

/*/------------------------ contacto -----------------------/*/

/*/__------------------------ materiales -----------------------/*/
@media only screen and (max-width: $medida-sm){
    .ABS__info--abajo{
        display: none;
    }
}

/*/------------------------ carrito -----------------------/*/

.lista__contenedor{
    font-size: 3rem;
    .contenedor__imagen{
        box-shadow: $sombra;
    }
    .contenedor__selector{
        color: $color-fuente2;
        height: 40px;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: $fondo;
        border-radius: 3px;
        box-shadow: $sombra;
        .contenedor__unidades{
            background-color: white;
            width: 40%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .contenedor__modificador{
            width: 30%;
        }
        .contenedor__modificador:hover{
            background-color: rgba(167, 167, 167, 0.8);
            transform: scale(1.05,1.05);
        }
    }

}
@media only screen and (max-width: $medida-lg){
    .lista__contenedor{
        font-size: 2rem;
    
        .contenedor__nombre{
            display: none;
        }
    }
    
}

/*/------------------------ error 404 -----------------------/*/
.pagina-404{
    background: rgb(149, 41, 49);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-404{
    text-align: center;
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 20px;
    box-shadow: $sombra;
    border-radius: 5px;
    line-height: 1.7;
    color: #434343;
}
.boton-inicio{
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    background-color: rgb(149, 41, 49);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}
