<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="3D, IMPRESIÓN, VENTA, DISEÑO,  PERSONALIZADO, PLA, ABS, PET-G">
    <meta name="description" content="Conocé los materiales con los que trabajamos en la impresion 3D">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/style.css">
    <title>RO3D/Materiales</title>
</head>
<body>
    <header>
        <h1 class="header header--titulo">
            <a class="header__enlace" href="../index.html">RO3D</a>
        </h1>
        <nav class="header header--nav">
            <ul class="nav nav-lista1 d-flex flex-wrap justify-content-center">
                <li class="nav-item">
                    <a class="header__enlace" href="../index.html" class="colorLetra nav-link" aria-current="page">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="header__enlace" href="./Productos.html" class="colorLetra nav-link">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="header__enlace" href="./Contacto.html" class="colorLetra nav-link">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="header__enlace" href="./Materiales.html" class="colorLetra nav-link">Materiales</a>
                </li>
                <li class="nav-item">
                    <a class="header__enlace" href="./Carrito.html" class="colorLetra nav-link">Carrito</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="materiales__titulo titulo">
        <h2><strong>Materiales</strong></h2>
    </div>
    
    <main class="materiales">
        <!-- PLA -->
        <div class="item infoPla">
            <h3 class="material__titulo"><strong>PLA</strong></h3>
            <p class="material__texto">El ácido poliláctico (PLA) es un polímero biodegradable que puede producirse a partir del ácido láctico, 
                que puede fermentarse a partir de cultivos como el maíz. Esto lo convierte en un candidato ideal para su uso en ciertas áreas 
                del mundo ricas en energía y pobres en dinero.
            </p>
        </div>
        <div class="item fotoPla">
            <img class="material__foto" src="../multimedia/piezasPLA.jfif" alt="Foto rollo de PLA">
        </div>
    
        <!-- ABS -->
        <div class="item infoAbs">
            <h3 class="material__titulo"><strong>ABS</strong></h3>
            <p class="material__texto">El acrilonitrilo butadieno estireno (ABS) es un polímero termoplástico,
                usado normalmente para la fabricacion de piezas mecánicas, ya que es un plástico fuerte, resistente y facil de mecanizar,
                pero no es tan ecológico como el PLA ya que es un rerivado del petróleo.
            </p>
        </div>
        <div class="item fotoAbs">
            <img class="material__foto" src="../multimedia/piezaABS.jfif" alt="Foto rollo de ABS">
        </div>
    
        <!-- PET-G -->
        <div class="item infoPetg">
            <h3 class="material__titulo"><strong>PET-G</strong></h3>
            <p class="material__texto">El PET-G es el famoso tereftalato de polietileno (PET) que encontramos en las botellas de 
                plástico o productos de almacenamiento alimenticio, con la diferencia que se le adiciona glicol, de esta modificacion 
                resulta en un plástico más duradero, menos quebradizo, más claro y más fácil de usar.
            </p>
        </div>
        <div class="item fotoPetg">
            <img class="material__foto" src="../multimedia/piezaPETG.jfif" alt="Foto rollo de PET-G">
        </div>
    
    
    </main>







    <footer class="footer container-fluid  px-0 text-center">
        <div class="caja-footer p-4 pb-0">
            <section class="mb-0 altoFooter">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1 mb-3 p-0 rounded-circle" href="../404.html" role="button">
                    <img src="../multimedia/Iconos/facebook.png" alt="Icono Facebook" class="rounded-circle" width="50px">
                </a>

                <!-- Youtube -->
                <a class="btn btn-outline-light btn-floating m-1 mb-3 p-0 rounded-circle" href="../404.html" role="button">
                    <img src="../multimedia/Iconos/youtube.png" alt="Icono YouTube" class="rounded-circle" width="50px">
                </a>

                <!-- Mail -->
                <a class="btn btn-outline-light btn-floating m-1 mb-3 p-0 rounded-circle" href="./Contacto.html" role="button">
                    <img src="../multimedia/Iconos/mail.png" alt="Icono Mail" class="rounded-circle" width="50px">
                </a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1 mb-3 p-0 rounded-circle" href="https://www.instagram.com/ro__3d/?hl=es-la" role="button">
                    <img src="../multimedia/Iconos/instagram.png" alt="Icono Instagram" class="rounded-circle" width="50px">
                </a>

                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1 mb-3 p-0 rounded-circle" href="../404.html" role="button">
                    <img src="../multimedia/Iconos/linkedin.png" alt="Icono Linkedin" class="rounded-circle" width="50px">
                </a>

                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1 mb-3 p-0 rounded-circle" href="../404.html" role="button">
                    <img src="../multimedia/Iconos/github.png" alt="Icono Github" class="rounded-circle" width="50px">
                </a>
            </section>
        </div>
</footer>
        <!-- script de bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>