<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="3D, IMPRESIÓN, VENTA, DISEÑO,  PERSONALIZADO">
    <meta name="description" content="Comprá productos de decoración, funcionales o de tus personajes favoritos impresos en 3D de RO3D por internet Hacé tu pedido y pagalo online">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/style.css">
    <title>RO3D/Productos</title>
</head>
<body>
    <header>
        <h1 class="header header--titulo">
            <a class="header__enlace" href="../Index.html">RO3D</a>
        </h1>
        <nav class="header header--nav">
            <ul class="nav nav-lista1 d-flex flex-wrap justify-content-center">
                <li class="nav-item">
                    <a class="header__enlace" href="../index.html" class="colorLetra nav-link" aria-current="page">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="header__enlace" href="./Productos.html" class="colorLetra nav-link">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="header__enlace" href="./Contacto.html" class="colorLetra nav-link">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="header__enlace" href="./Materiales.html" class="colorLetra nav-link">Materiales</a>
                </li>
                <li class="nav-item">
                    <a class="header__enlace" href="./Carrito.html" class="colorLetra nav-link">Carrito</a>
                </li>
            </ul>
        </nav>
    </header>

<section class="productos container-fluid d-flex p-0 ">
    <aside class="costado col-sm-3 col-lg-2">
        <p class="costado__categorias">Categorías</p>
        <p>
            <a href="#adornos">Adornos</a>
        </p>
        <p>
            <a href="#funcionales">Funcionales</a>
        </p>
        <p>
            <a href="#personajes">Personajes</a>
        </p>
        <p>
            <a href="../404.html">Nuevos</a>
        </p>
    </aside>
    <main class="secciones col-12 col-sm-9 col-lg-10">
        <div class="titulo col-12 mt-5">
            <h2>
                <strong>
                    Productos
                </strong>
            </h2>
        </div>

        <!-- seccion adornos -->
        <section id="adornos" class="cards d-flex flex-wrap justify-content-evenly">
            <div class="titulo col-12 mt-5" >
                <h2>
                    Adornos
                </h2>
            </div>
            <div class="cards__item col-11 col-sm-5 col-lg-3">
                <a class="cards__vinculo" href="../404.html">
                    <img class="cards__foto" src="../multimedia/adornos/cuadro-agujero-negro.jpg" alt="FOTO CUADRO AGUJERO NEGRO" title="CUADRO AGUJERO NEGRO">
                </a>
                    <h4 class="cards__nombre">CUADRO AGUJERO NEGRO</h4>
                    <p class="cards__precio">$510.00</p>
                    <button type="button"  class="cards__boton btn btn-dark btn-lg">AGREGAR AL CARRITO</button>
            </div>
            <div class="cards__item col-11 col-sm-5 col-lg-3">
                <a class="cards__vinculo" href="../404.html">
                    <img class="cards__foto" src="../multimedia/adornos/cuadro-bull-dog.jpg" alt="FOTO CUADRO PITBULL" title="CUADRO PITBULL">
                </a>
                    <h4 class="cards__nombre">CUADRO PITBULL</h4>
                    <p class="cards__precio">$410.00</p>
                    <button type="button"  class="cards__boton btn btn-dark btn-lg">AGREGAR AL CARRITO</button>
            </div>
                <div class="cards__item col-11 col-sm-5 col-lg-3">
                    <a class="cards__vinculo" href="../404.html">
                        <img class="cards__foto" src="../multimedia/adornos/cuadro-cara.jpg" alt="FOTO CUADRO CARA" title="CUADRO CARA">
                    </a>
                        <h4 class="cards__nombre">CUADRO CARA</h4>
                        <p class="cards__precio">$600.00</p>
                        <button type="button"  class="cards__boton btn btn-dark btn-lg">AGREGAR AL CARRITO</button>
            </div>
            <div class="cards__item col-11 col-sm-5 col-lg-3">
                <a class="cards__vinculo" href="../404.html">
                    <img class="cards__foto" src="../multimedia/adornos/panteras.JPEG" alt="FOTO PANTERA-GLOW" title="PANTERA-GLOW">
                </a>
                    <h4 class="cards__nombre">PANTERA-GLOW</h4>
                    <p class="cards__precio">$500.00</p>
                    <button type="button"  class="cards__boton btn btn-dark btn-lg">AGREGAR AL CARRITO</button>
            </div>
            <div class="cards__item col-11 col-sm-5 col-lg-3">
                <a class="cards__vinculo" href="../404.html">
                    <img class="cards__foto" src="../multimedia/adornos/cuadro-colibri.jpg" alt="FOTO CUADRO COLIBRÍ" title="CUADRO COLIBRÍ">
                </a>
                    <h4 class="cards__nombre">CUADRO COLIBRÍ</h4>
                    <p class="cards__precio">500.00</p>
                    <button type="button"  class="cards__boton btn btn-dark btn-lg">AGREGAR AL CARRITO</button>
            </div>
            <div class="cards__item col-11 col-sm-5 col-lg-3">
                <a class="cards__vinculo" href="../404.html">
                    <img class="cards__foto" src="../multimedia/adornos/t-rex.jpg" alt="FOTO T-REX" title="T-REX">
                </a>
                    <h4 class="cards__nombre">T-REX</h4>
                    <p class="cards__precio">510.00</p>
                    <button type="button" class="cards__boton btn btn-dark btn-lg" >AGREGAR AL CARRITO</button>
            </div>
        </section>

        <!-- Seccion funcionales -->
        <section id="funcionales" class="cards d-flex flex-wrap justify-content-evenly">
            <div class="titulo col-12 mt-5" >
                <h2>
                    Funcionales
                </h2>
            </div>
            <div class="cards__item col-11 col-sm-5 col-lg-3">
                <a class="cards__vinculo" href="../404.html">
                    <img class="cards__foto" src="../multimedia/funcionales/producto5.jpg" alt="FOTO LÁMPARA PÉTALOS" title="LÁMPARA PÉTALOS">
                </a>
                    <h4 class="cards__nombre">LÁMPARA PÉTALOS</h4>
                    <p class="cards__precio">$2000.00</p>
                    <button type="button"  class="cards__boton btn btn-dark btn-lg">AGREGAR AL CARRITO</button>
            </div>
            <div class="cards__item col-11 col-sm-5 col-lg-3">
                <a class="cards__vinculo" href="../404.html">
                    <img class="cards__foto" src="../multimedia/funcionales/clip-bolsas.jpg" alt="FOTO CLIP DE BOLSAS" title="CLIP DE BOLSAS">
                </a>
                    <h4 class="cards__nombre">CLIP DE BOLSAS</h4>
                    <p class="cards__precio">$790.00</p>
                    <button type="button"  class="cards__boton btn btn-dark btn-lg">AGREGAR AL CARRITO</button>
        </div>
            <div class="cards__item col-11 col-sm-5 col-lg-3">
                <a class="cards__vinculo" href="../404.html">
                    <img class="cards__foto" src="../multimedia/funcionales/dispenser-capsulas-cafe.jpg" alt="FOTO DISPENSER CÁPSULAS CAFÉ" title="DISPENSER CÁPSULAS CAFÉ">
                </a>
                    <h4 class="cards__nombre">DISPENSER CÁPSULAS CAFÉ</h4>
                    <p class="cards__precio">$850.00</p>
                    <button type="button"  class="cards__boton btn btn-dark btn-lg">AGREGAR AL CARRITO</button>
        </div>
            <div class="cards__item col-11 col-sm-5 col-lg-3">
                <a class="cards__vinculo" href="../404.html">
                    <img class="cards__foto" src="../multimedia/funcionales/exprimidor-pasta-dental.jpg" alt="FOTO EXPRIMIDOR PASTA DENTAL" title="EXPRIMIDOR PASTA DENTAL">
                </a>
                    <h4 class="cards__nombre">EXPRIMIDOR PASTA DENTAL</h4>
                    <p class="cards__precio">370.00</p>
                    <button type="button"  class="cards__boton btn btn-dark btn-lg">AGREGAR AL CARRITO</button>
            </div>
            <div class="cards__item col-11 col-sm-5 col-lg-3">
                <a class="cards__vinculo" href="../404.html">
                    <img class="cards__foto" src="../multimedia/funcionales/jabonera-rejilla.jpg" alt="FOTO JABONERA REJILLA" title="JABONERA REJILLA">
                </a>
                    <h4 class="cards__nombre">JABONERA REJILLA</h4>
                    <p class="cards__precio">$960.00</p>
                    <button type="button"  class="cards__boton btn btn-dark btn-lg">AGREGAR AL CARRITO</button>
            </div>
            <div class="cards__item col-11 col-sm-5 col-lg-3">
                <a class="cards__vinculo" href="../404.html">
                    <img class="cards__foto" src="../multimedia/funcionales/soporte-headphones-pared.jpg" alt="FOTO SOPORTE HEADPHONES" title="SOPORTE HEADPHONES">
                </a>
                    <h4 class="cards__nombre">SOPORTE HEADPHONES</h4>
                    <p class="cards__precio">300.00</p>
                    <button type="button"  class="cards__boton btn btn-dark btn-lg">AGREGAR AL CARRITO</button>
            </div>
        </section>

        <!-- Seccion personajes -->
        <section id="personajes" class="cards d-flex flex-wrap justify-content-evenly">
            <div class="titulo col-12 mt-5" >
                <h2>
                    <P>Personajes</P>
                </h2>
            </div>
            <div class="cards__item col-11 col-sm-5 col-lg-3">
                <a class="cards__vinculo" href="../404.html">
                    <img class="cards__foto" src="../multimedia/personajes/producto6.JPG" alt="FOTO GROOT SALUDANDO" title="GROOT SALUDANDO">
                </a>
                    <h4 class="cards__nombre">GROOT SALUDANDO</h4>
                    <p class="cards__precio">$720.00</p>
                    <button type="button"  class="cards__boton btn btn-dark btn-lg">AGREGAR AL CARRITO</button>
            </div>
            <div class="cards__item col-11 col-sm-5 col-lg-3">
                <a class="cards__vinculo" href="../404.html">
                    <img class="cards__foto" src="../multimedia/personajes/bulbasaurMaceta.JPEG" alt="FOTO BULBASAUR MACETA" title="BULBASAUR MACETA">
                </a>
                    <h4 class="cards__nombre">BULBASAUR MACETA</h4>
                    <p class="cards__precio">$570.00</p>
                    <button type="button"  class="cards__boton btn btn-dark btn-lg">AGREGAR AL CARRITO</button>
        </div>
            <div class="cards__item col-11 col-sm-5 col-lg-3">
                <a class="cards__vinculo" href="../404.html">
                    <img class="cards__foto" src="../multimedia/personajes/grootMaceta.JPG" alt="FOTO GROOT MACETA" title="GROOT MACETA">
                </a>
                    <h4 class="cards__nombre">GROOT MACETA</h4>
                    <p class="cards__precio">$590.00</p>
                    <button type="button"  class="cards__boton btn btn-dark btn-lg">AGREGAR AL CARRITO</button>
        </div>
            <div class="cards__item col-11 col-sm-5 col-lg-3">
                <a class="cards__vinculo" href="../404.html">
                    <img class="cards__foto" src="../multimedia/personajes/producto1.jpg" alt="FOTO FIGURA POKÉMON BULBASAUR" title="FIGURA POKÉMON BULBASAUR">
                </a>
                    <h4 class="cards__nombre">FIGURA POKÉMON BULBASAUR</h4>
                    <p class="cards__precio">600.00</p>
                    <button type="button"  class="cards__boton btn btn-dark btn-lg">AGREGAR AL CARRITO</button>
            </div>
            <div class="cards__item col-11 col-sm-5 col-lg-3">
                <a class="cards__vinculo" href="../404.html">
                    <img class="cards__foto" src="../multimedia/personajes/producto2.jpg" alt="FOTO FIGURA POKÉMON CHARMANDER" title="FIGURA POKÉMON CHARMANDER">
                </a>
                    <h4 class="cards__nombre">FIGURA POKÉMON CHARMANDER</h4>
                    <p class="cards__precio">$600.00</p>
                    <button type="button"  class="cards__boton btn btn-dark btn-lg">AGREGAR AL CARRITO</button>
            </div>
            <div class="cards__item col-11 col-sm-5 col-lg-3">
                <a class="cards__vinculo" href="../404.html">
                    <img class="cards__foto" src="../multimedia/personajes/producto3.jpg" alt="FOTO FIGURA POKÉMON SQUIRTLE" title="FIGURA POKÉMON SQUIRTLE">
                </a>
                    <h4 class="cards__nombre">FIGURA POKÉMON SQUIRTLE</h4>
                    <p class="cards__precio">600.00</p>
                    <button type="button"  class="cards__boton btn btn-dark btn-lg">AGREGAR AL CARRITO</button>
            </div>
        </section>
    </main>
</section>
    <footer class="footer container-fluid  px-0  text-center">
        <div class="caja-footer p-4 pb-0">
            <section class="mb-0 altoFooter">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1 mb-3 p-0 rounded-circle" href="../404.html" role="button">
                    <img src="../multimedia/Iconos/facebook.png" alt="Icono Facebook" class="rounded-circle" width="50px">
                </a>

                <!-- Youtube -->
                <a class="btn btn-outline-light btn-floating m-1 mb-3 p-0 rounded-circle" href="../404.html" role="button">
                    <img src="../multimedia/Iconos/youtube.png" alt="Icono YouTube" class="rounded-circle" width="50px">
                </a>

                <!-- Mail -->
                <a class="btn btn-outline-light btn-floating m-1 mb-3 p-0 rounded-circle" href="./Contacto.html" role="button">
                    <img src="../multimedia/Iconos/mail.png" alt="Icono Mail" class="rounded-circle" width="50px">
                </a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1 mb-3 p-0 rounded-circle" href="https://www.instagram.com/ro__3d/?hl=es-la" role="button">
                    <img src="../multimedia/Iconos/instagram.png" alt="Icono Instagram" class="rounded-circle" width="50px">
                </a>

                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1 mb-3 p-0 rounded-circle" href="../404.html" role="button">
                    <img src="../multimedia/Iconos/linkedin.png" alt="Icono Linkedin" class="rounded-circle" width="50px">
                </a>

                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1 mb-3 p-0 rounded-circle" href="../404.html" role="button">
                    <img src="../multimedia/Iconos/github.png" alt="Icono Github" class="rounded-circle" width="50px">
                </a>
            </section>
        </div>
</footer>
        <!-- script de bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>