<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="3D, IMPRESIÓN, VENTA, DISEÑO,  PERSONALIZADO">
    <meta name="description" content="Comprá productos de decoración, funcionales o de tus personajes favoritos impresos en 3D de RO3D por internet Hacé tu pedido y pagalo online">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/style.css">
    <title>RO3D/Productos</title>
</head>
<body>
    <header class="container-fluid px-0 ">
        <h1 class="header header--titulo text-center m-0">RO3D</h1>
        <nav class="header header--nav p-0 m-0">
            <ul class="nav nav-lista1 d-flex flex-wrap justify-content-center">
                <li class="nav-item"><a href="../Index.html" class="colorLetra nav-link" aria-current="page">Inicio</a></li>
                <li class="nav-item"><a href="./Productos.html" class="colorLetra nav-link">Productos</a></li>
                <li class="nav-item"><a href="./Contacto.html" class="colorLetra nav-link">Contacto</a></li>
                <li class="nav-item"><a href="./Materiales.html" class="colorLetra nav-link">Materiales</a></li>
                <li class="nav-item"><a href="./Carrito.html" class="colorLetra nav-link">Carrito</a></li>
            </ul>
        </nav>
    </header>

<div class="container-fluid d-flex m-0 p-0">
    <aside class="costado col-0 col-sm-2">
        <h3 class="costado__categorias">Categorias</h3>
        <h4><a href="../404.html">Adornos</a></h4>
        <h4><a href="../404.html">Funcionales</a></h4>
        <h4><a href="../404.html">Personajes</a></h4>
        <h4><a href="../404.html">Nuevos</a></h4>
    </aside>
    <div class="secciones col-12 col-sm-10 collg-9">
        <section class="adornos d-flex flex-wrap justify-content-evenly">

            <div class="adornos__titulo col-12 col-sm-10"><h2>Adornos</h2></div>

            <div class="adornos__item col-12 col-sm-3"><a href="../404.html">
                <img class="Item__foto rounded-4" src="../multimedia/adornos/cuadro-agujero-negro.jpg" alt="FOTO CUADRO AGUJERO NEGRO">
                <h4 class="item__nombre">CUADRO AGUJERO NEGRO</h4>
                <p class="item__precio">$510.00</p>
                <button type="button"  class="item__boton btn btn-dark btn-lg">AGREGAR AL CARRITO</button>
            </a></div>
            <div class="adornos__item col-12 col-sm-3"><a href="../404.html">
                <img class="Item__foto" src="../multimedia/adornos/cuadro-bull-dog.jpg" alt="FOTO CUADRO PITBULL">
                <h4 class="item__nombre">CUADRO PITBULL</h4>
                <p class="item__precio">$410.00</p>
                <button type="button"  class="item__boton btn btn-dark btn-lg">AGREGAR AL CARRITO</button>
            </a></div>
            <div class="adornos__item col-12 col-sm-3"><a href="../404.html">
                <img class="Item__foto" src="../multimedia/adornos/cuadro-cara.jpg" alt="FOTO CUADRO CARA">
                <h4 class="item__nombre">CUADRO CARA</h4>
                <p class="item__precio">$600.00</p>
                <button type="button"  class="item__boton btn btn-dark btn-lg">AGREGAR AL CARRITO</button>
            </a></div>
            <div class="adornos__item col-12 col-sm-3"><a href="../404.html">
                <img class="Item__foto" src="../multimedia/adornos/cuadro-colibri.jpg" alt="FOTO CUADRO COLIBRI">
                <h4 class="item__nombre">CUADRO COLIBRI</h4>
                <p class="item__precio">500.00</p>
                <button type="button"  class="item__boton btn btn-dark btn-lg">AGREGAR AL CARRITO</button>
            </a></div>
            <div class="adornos__item col-12 col-sm-3"><a href="../404.html">
                <img class="Item__foto" src="../multimedia/adornos/cuadro-love-amor.jpg" alt="FOTO CUADRO LOVE-AMOR">
                <h4 class="item__nombre">CUADRO LOVE-AMOR</h4>
                <p class="item__precio">$600.00</p>
                <button type="button"  class="item__boton btn btn-dark btn-lg">AGREGAR AL CARRITO</button>
            </a></div>
            <div class="adornos__item col-12 col-sm-3"><a href="../404.html">
                <img class="Item__foto" src="../multimedia/adornos/LOVE-NY.jpg" alt="FOTO LOVE - NY">
                <h4 class="item__nombre">LOVE - NY</h4>
                <p class="item__precio">680.00</p>
                <button type="button"  class="item__boton btn btn-dark btn-lg">AGREGAR AL CARRITO</button>
            </a></div>
            <div class="adornos__item col-12 col-sm-3"><a href="../404.html">
                <img class="Item__foto" src="../multimedia/adornos/panteras.JPEG" alt="FOTO PANTERA-GLOW">
                <h4 class="item__nombre">PANTERA-GLOW</h4>
                <p class="item__precio">$500.00</p>
                <button type="button"  class="item__boton btn btn-dark btn-lg">AGREGAR AL CARRITO</button>
            </a></div>
            <div class="adornos__item col-12 col-sm-3"><a href="../404.html">
                <img class="Item__foto" src="../multimedia/adornos/t-rex.jpg" alt="FOTO T-REX">
                <h4 class="item__nombre">T-REX</h4>
                <p class="item__precio">510.00</p>
                <button type="button"  class="item__boton btn btn-dark btn-lg">AGREGAR AL CARRITO</button>
            </a></div>
        </section>
    </div>
</div>
    <footer class="footer container-fluid  px-0  bg-dark  text-center  text-white">
        <div class="container p-4 pb-0">
            <section class="mb-0 altoFooter">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1 mb-3 p-0 rounded-circle" href="../404.html" role="button">
                    <img src="../multimedia/Iconos/facebook.png" alt="Icono Facebook" class="rounded-circle" width="50px">
                </a>

                <!-- Youtube -->
                <a class="btn btn-outline-light btn-floating m-1 mb-3 p-0 rounded-circle" href="../404.html" role="button">
                    <img src="../multimedia/Iconos/youtube.png" alt="Icono YouTube" class="rounded-circle" width="50px">
                </a>

                <!-- Mail -->
                <a class="btn btn-outline-light btn-floating m-1 mb-3 p-0 rounded-circle" href="./Contacto.html" role="button">
                    <img src="../multimedia/Iconos/mail.png" alt="Icono Mail" class="rounded-circle" width="50px">
                </a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1 mb-3 p-0 rounded-circle" href="https://www.instagram.com/ro__3d/?hl=es-la" role="button">
                    <img src="../multimedia/Iconos/instagram.png" alt="Icono Instagram" class="rounded-circle" width="50px">
                </a>

                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1 mb-3 p-0 rounded-circle" href="../404.html" role="button">
                    <img src="../multimedia/Iconos/linkedin.png" alt="Icono Linkedin" class="rounded-circle" width="50px">
                </a>

                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1 mb-3 p-0 rounded-circle" href="../404.html" role="button">
                    <img src="../multimedia/Iconos/github.png" alt="Icono Github" class="rounded-circle" width="50px">
                </a>
            </section>
        </div>
</footer>
        <!-- script de bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>